.btnFix{
    min-width: 80px;
    height: 45px;
    background-color: var(--fourth);
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    border: 1px solid var(--fourth);
    border-radius: 10px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    cursor: pointer;
    .icon{
        width: 26px;
        height: 26px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--white);
        border-radius: 100%;
        font-size: 20px;
        padding-top: 2px;
        font-weight: 500;
    }
    &.med{
        height: 40px;
        min-width: 40px;
        width: 40px;
        font-size: 22px;
    }
}